
<div id = "contacts">
    <h1>Контакты</h1>
    <h6></h6>
    
    <h2>Офис в Алматы </h2>
    <h3>Адрес: ул. Толе би 59 , 050000, Алматы</h3>
    <h3><span style='padding-left:68px;'> </span>Республика Казахстан</h3>                
    <h3>Телефон: +7 (777) 777 77 77</h3>
    <h3>Почтовый адрес: qazflash@gmail.com</h3>
    
    <h2> Контакты для получения информации о продукте</h2>
    <p>
        <strong>Телефон: +7 (7272) 72 72 72 <br>
        Почтовый адрес: info.qazflash@gmail.com</strong>
    </p>
    <h2>Оставьте сообщение</h2>
    <a href="info.qazflash@gmail.com" class="btnOnlineMail">Online Informational Center</a>

</div>