<div id="second">
  <h1 id="firstH">ЖДЕМ</h1>
  <h1 id="secondH">ВАС</h1>
   
  <img id="img1" src="https://autogear.ru/misc/i/gallery/92610/2601996.jpg">
  <div id="third">
      <p>Наш адрес</p>
      <p>ул. Тургут-Озалы, 70, Алматы,</p>
      <p>119019, Kazakhstan</p>
      <p>Телефон <em>+7 (777) 131-87-88</em></p>
      <br>
      <p>Часы работы</p>
      <p>ПН–ПТ: 11:00–18:30</p>
      <p>СБ: 11:00–17:00</p>
      <p>ВС: 12:30–16:30 </p>
                      
  </div>   
  
  <div id="four">
      
      <p>Есть вопрос?</p>
      <p>Пишите на <em>info@mysite.ru</em></p>
      <p>или заполните форму:</p>
  </div>
  
  <form action="/action_page.php" id="form1">
      Ф.И.О.:<br>
      <input type="text" name="fullname" placeholder="no name *" required><br>
      email:<br>
      <input type="email" name="email" placeholder="mail.ru *" required><br>
      Сообщение:<br>
      <textarea  name = "auth_msg" rows = "7" cols = "35" placeholder="Здесь Вы можете написать информацию для автора…" required></textarea><br>


      <input id="submit1" type="submit" value="отправить">
    </form>   
    
    <div id="kart">
      <script id="script1" alt = "asdf" type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad0f41d07f5c997cf41d703e5afae8f5e95cf980db96b3481e5a246f7d77de1a8&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
  <img id="img2" src="http://x-lines.ru/letters/i/cyrillicother/1527/000000/32/0/e3yin.png">

  <div class="container">
      <h1 class="nice-header">NICE FAQ by Maimash Dastan</h1>
      <div class="faq">
        <ul class="faq-questions">
          <li>
            <h4 class="faq-question">Как оплатить товар?</h4>
            <p class="faq-answer">Наличные при получении. Этот способ представляет оплату покупки при доставке ее курьером. При получении заказа обычно выдается информационный лист, в котором отражены наименования товароа, их количество и стоимость. После проверки соответствия содержимого заказа тем данным, которые отражены в данном листе, курьер должен вручить вам накладную. Своей подписью в ней вы подтверждаете отсутствие претензий, и надлежащее качество товара. При получении неверного заказа, вы вполне можете отказаться от принятия заказа.
              </p>
              <p class="faq-answer">Наложенный платеж. Этот метод используется при доставке товара Почтой Казахстана. Он представляет собой оплату интернет покупок в почтовом отделении при его получении. Данный способ может использоваться только при покупках в российских интернет-магазинах, т. к. он доступен только при получении посылки на территории РК. Заказ выдается только при полной оплате его стоимости и комиссии почте за перечисление денег на специальный счет магазина.
                  </p>
              <p class="faq-answer">    Банковские карты. Данный безналичный способ является наиболее популярным при оплате товаров зарубежных интернет-магазинов. Карта для оплаты интернет покупок должна функционировать в системах Visa или Master Card. Оплата этим способ производится непосредственно при заказе на сайте интернет-магазина. Для этого следует ввести специальный код CVV2, изображенный на обратной стороне карты. Ввиду того, что это может быть не совсем безопасно, данный код следует оставлять только при оплате в проверенных магазинах
                        </p>      
              <p class="faq-answer">Электронные платежные системы. Данный способ является наиболее безопасным, современным и удобным для пользователей. Вам не нужно сообщать свои конфиденциальные данные или идти для оплаты в банк. Оплата через электронные системы проходит быстро и легко. Правда для наличия денег на электронном кошельке, их следует туда зачислить с помощью терминалов оплаты
                  </p>          
          </li>
          <li>
            <h4 class="faq-question">Что такое промокод и как его получить? </h4>
            <p class="faq-answer">Вступайте в нашу группу ВКонтакте, подписывайтесь на нашу страницу в Facebook, аккаунт в Instagram и канал в Telegram, внимательно следите за новостями, участвуйте в жизни наших аккаунтов в социальных сетях и получайте горячие скидки. Для того чтобы использовать промокод введите его в специальное поле в корзине при оформлении заказа.</p>
          </li>
          <li>
            <h4 class="faq-question">Почему цена в интернет-магазине дешевле? Вы что, продаёте б/у товар или товар после ремонта?</h4>
            <p class="faq-answer">Мы продаем только новый товар. Более низкая цена в интернет-магазине — это политика компании, направленная на популяризацию интернет-торговли. К тому же затраты на организацию торговли через интернет-магазин несколько ниже, чем на торговых точках.</p>
          </li>
          <li>
            <h4 class="faq-question">Если я оформлю заказ, как быстро я смогу его получить?</h4>
            <p class="faq-answer">После оформления наши менеджеры обработают ваш заказ. И как только у них появится информация о наличии товара и сроках готовности заказа, они обязательно с Вами свяжутся и сообщат, когда Вы сможете получить свой заказ</p>
          </li>
        </ul>
      </div>
  
  </div>

</div>