<div class = "main_div">
  <div class = "header_div">
      <h1 class = "site_name">QazFlash®</h1>
      <div class="nav">  
          <ul>
              <li><a routerLink=""  id="nav_element1">Главная</a></li>
              <li><a routerLink="store" id = "nav_element2">Магазин</a></li>
              <li><a routerLink="history" id = "nav_element3">Наша история</a></li>
              <li><a routerLink="client" id = "nav_element4">Обслуживание клиентов</a></li>
              <li><button  id = "vhod">Вход</button></li>
              <li><button id = "reg">Регистрация</button></li>
          </ul>
      </div>
  </div>
  </div>
