<div class = "body">
  <div class = "image">
    <img src = "http://velotematika.ru/images/product_images/popup_images/ZCO50248.jpg">
  </div>
  <div class = "characteristics">
    <h1>WiDock</h1>
    <h3>A fast wireless charging dock that comes with a two-coil charging pad, allowing for dual orientation charging.</h3>
      Total Power: 5W / 10W
      <ul>
        <li>Dual orientation for vertical or horizontal charging</li>
        <li>Indicative light shows charging status</li>
        <li>Qi Charging Standard & compatibility with QI-enabled devices</li>
        <li>All-round circuit protection</li>
        <li>Comes with a Micro-USB cable</li>
      </ul>
      <h6></h6>
      <br><br>
      <h2>2390ТГ</h2>
      <p style = "color: rgb(68, 62, 62)">Color</p>
      <button class="color"></button>
      <!-- <br><br>-->
      <p>Availibility: In stock</p>
      <div class="velaQty">
        <button type="button" class="velaQtyButton" data-id="" data-qty="0">
            <span class="txtFallback">−</span>
        </button>
        <input type="text" class="velaQtyText" value="1" min="1" data-id="" aria-label="quantity" pattern="[0-9]*" name="quantity" id="Quantity">
        <button type="button" class="velaQtyButton" data-id="" data-qty="11">
            <span class="txtFallback">+</span>
        </button>
      </div>
      <br><br>
      <div class = "buy">
        <button>+ADD TO CART</button>
      </div>
  </div>
</div>
