.footer {
    background-image: url("https://www.desktopbackground.org/download/1600x900/2010/04/29/9762_black-backgrounds-abstract-wallpapers-manualwall-com_1920x1080_h.jpg");
    width: 100%;
    height: 300px;
    /* margin-top: 40%; */
    
}
.footer_div {
    float: left;
    width: 50%;
}
.forms {
    padding-top:100px; 
    float: left;
    width: 50%;
}
.footer_form {
    padding-top: 100px;
}
.footer_form ul li {
    display: inline-block;
    
}
.podpiska {
    float: left;
    font-size: 20px;
    color:white;
}
#footer_button {
    margin-left: 10px;
    float: left;
    width: 100px;
    height: 40px;
    background-color: #333;
    color: white;
    border: 2px solid white;
    font-weight: bold;
} 
 #footer_input {
    float: left;
    width: 300px;
    height: 35px;
}

#faq {
    margin-left: 300px;
    font-size: 20px;
    color:white;
}
#chto {
    margin-left: 300px;
    font-size: 20px;
    color:white;
}
#kontact {
    margin-left: 300px;
    font-size: 20px;
    color:white;
}

.lastimages ul img {
    margin-top: 20px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
} 
.ensony {
    margin-left: 43%;
    color: white; 
}

button {
    cursor: pointer;
}
