<div class="footer">
  <div class = "footer_div"> 
    <form action="" class = "footer_form">
        <ul>
            <li><a routerLink="client" id = "faq">FAQ</a></li><br>
            <li><a routerLink="" id = "chto">Что нового</a></li><br>
            <li><a routerLink="contacts" id = "kontact">Контакты</a></li><br>
        </ul>
        <!-- <a href="" id="faq">FAQ</a>
        <a href="" id="chto">Что нового</a>
        <a href="" id = "kontact">Контакты</a><br><br> -->
    </form>
  </div>
  <form class ="forms">
    <span class = "podpiska">Подпишитесь на новости</span><br><br>
    <input type = "text" placeholder="Укажите ваш email" id = "footer_input" required><input type = "submit" id = "footer_button" value="Подписаться">
    <br>
  </form>
  <div class = "lastimages">
    <br>
    <ul>
    <a href=""><img src="https://image.freepik.com/free-icon/no-translate-detected_318-74909.jpg" alt=""></a>
    <a href = ""><img src="https://img.freepik.com/free-icon/instagram_318-136131.jpg?size=338c&ext=jpg" alt=""></a>
    <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs8My2vmOStZ_UZBSu_9cDyzQJ82bfUJPVyQemrnL83E_7ug9r" alt=""></a>
    </ul>
  </div>
  <span class ="ensony">©2019 Интернет Магазин «QazFlash»</span>
</div>