<h2>Наша История</h2>
      <p>История компании "QazFlash" началась в 2019 году благодаря объединению студентов 2 курса университета КБТУ.
            На тот момент мы обладали двухлетним опытом в программировании и немножко веб-разработке. Начинали работать дома и уже успешно через день запустили наш сайт.
          Сегодня мы объединяя наши силы развиваем стратегические мышления команды, строим на будущее цели и планы.</p>
      
     
        <div class = "photos">
            <img src="images/team1.jpg" alt="Фотография 1" width="500" height="450">
            <img src="images/team2.jpg" alt="Фотография 2" width="500" height="450">
            <img src="images/team3.jpg" alt="Фотография 3" width="495" height="450">
        </div>
        <p>Являясь частью группы «QazFlash», мы понимаем его рынок, мы ориентируемся на решение бизнес-задач на всех этапах проекта — проектирование, дизайн и программирование, сопровождение и продвижение сайта. Стратегия нашего бизнеса основана на продаже брэндовых товаров в Казахстане, ответственности и долгосрочном сотрудничестве в рамках годового договора с нашими крупными магазинами.</p>
